// 重写必要的样式
.v-body {
    .el-drawer__body {
        padding: 0;
    }
    .el-form-item__content {
        line-height: 1;
    }
    input::placeholder {
        font-family: @font-family !important;
    }
}